<ion-content [fullscreen]="true">
  <!-- Display Reported Items -->
  <ion-card *ngFor="let item of reportedItems">
    <ion-card-header>
      <ion-card-subtitle>
        <!-- Check the file type and display the video if it's a video file -->
        <ng-container *ngIf="item.fileType.startsWith('video')">
          <video width="100%" height="auto" controls>
            <source [src]="item.fileUrl" [type]="item.fileType">
            Your browser does not support the video element.
          </video>
        </ng-container>
      </ion-card-subtitle>
      <ion-card-title>Location: {{ item.location }}<br/>Description: {{ item.description }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>Approve</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>