<ion-content padding>

  <form class="form">

    <ion-label class="label" style="margin-top: 50px">Please attach evidence to report incident</ion-label>

  <!-- File input -->
  <ion-item class="input-fields">
    <ion-label>Select a file to upload</ion-label>
    <input type="file" (change)="onFileSelected($event)" />
  </ion-item>

  <!-- Description input -->

  <ion-item fill="outline" class="input-field"> 
    <ion-select label="File type" [(ngModel)]="fileType"  label-placement="floating">
      <ion-select-option value="audio">Audio</ion-select-option>
      <ion-select-option value="image">Image</ion-select-option>
      <ion-select-option value="video">Video</ion-select-option>
    </ion-select>
  </ion-item>
   <!-- Location input -->
   <ion-item class="input-field" fill="outline">
    <ion-label position="floating">Location</ion-label>
    <ion-input type="text" [(ngModel)]="location"></ion-input>
    <ion-button fill="clear" slot="end" routerLink="/geolocation">
      <ion-icon name="location" size="medium"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Description input -->
  <ion-item class="input-field" fill="outline">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <!-- Upload button -->
  <ion-button expand="full" (click)="uploadFile()" [disabled]="!selectedFile" class="input-field">Upload</ion-button>
  <!-- <ion-button expand="full" href="/reported-item" class="input-field">Reported List</ion-button> -->

  <!-- Progress bar -->
  <ion-progress-bar [value]="uploadProgress"></ion-progress-bar>

  <!-- Success message -->
  <ion-label *ngIf="uploadSuccess" color="success">
    File uploaded successfully!
  </ion-label>

  <!-- Error message -->
  <ion-label *ngIf="uploadError" color="danger">
    {{ uploadErrorMessage }}
  </ion-label>
</form>
</ion-content>
