<ion-content [fullscreen]="true">
  <!-- Display Reported Items -->
  <ion-card *ngFor="let item of reportedItems">
    <ion-card-header>
      <ion-card-subtitle>
        <!-- Display media content inside the card based on type -->
          <audio controls>
            <source [src]="item.fileUrl" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      </ion-card-subtitle>
      <ion-card-title>Location: {{ item.location }}<br/>Description: {{ item.description }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>Approve</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
