/* Add your global styles in a separate CSS file */
ion-avatar {
  --border-radius: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 150px;
}

.login-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 360px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 10px;
  width: 100%;
}

.login-button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.register {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.avatar-image {
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

/* Background style for the ion-content */
ion-content {
  --background: #1e3d5eb4;
}