<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-buttons slot="end">
          <ion-button routerLink="/admin-profile">
            <ion-icon name="person-sharp" style="color: white"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="text-align: start;">Admin Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content class="padding" color="light">
  

  <ion-tabs>  
    <ion-tab-bar slot="top" color="light">  
      <ion-tab-button tab="tab3">  
        <ion-icon name="home"></ion-icon>  
        <ion-label>Dashboard</ion-label>  
      </ion-tab-button>  
      
      <ion-tab-button tab="text-reports">  
        <ion-icon name="list"></ion-icon>  
        <ion-label>Form Reports</ion-label>  
      </ion-tab-button> 
      
      <ion-tab-button tab="tab2">  
        <ion-icon name="list"></ion-icon> 
        <ion-label>Media Reports</ion-label>  
      </ion-tab-button>

    </ion-tab-bar> 
  </ion-tabs>
</ion-content>
