<ion-app>
  <div class="ion-page" id="main-content">
    <ion-app>
      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar color="medium">
            <ion-title>List of Items</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item routerLink="/user-awareness">
            <ion-label>Human Trafficking Awareness</ion-label>
          </ion-item>
          <ion-item href="/home">
            <ion-label>Close</ion-label>
          </ion-item>
    
        </ion-content>
      </ion-menu>
    <ion-header>
      <ion-toolbar color="medium">
        <ion-buttons slot="end">
          <ion-button routerLink="/tab3">
            <ion-icon name="person-sharp" style="color: white"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="text-align: start;">Admin Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content class="padding" color="light">
  

  <ion-tabs>  
    <ion-tab-bar slot="top" color="light"> 
      
      <ion-tab-button tab="text-reports">  
        <ion-icon name="list"></ion-icon>  
        <ion-label>Forms</ion-label>  
      </ion-tab-button> 
      
      <ion-tab-button tab="tab2">  
        <ion-icon name="image-outline"></ion-icon> 
        <ion-label>Image</ion-label>  
      </ion-tab-button>

      <ion-tab-button tab="video">  
        <ion-icon name="videocam-outline"></ion-icon> 
        <ion-label>Videos</ion-label>  
      </ion-tab-button>

      <ion-tab-button tab="audio">  
        <ion-icon name="radio-outline"></ion-icon> 
        <ion-label>Audio</ion-label>  
      </ion-tab-button>

    </ion-tab-bar> 
  </ion-tabs>
</ion-content>
