<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reported Incidents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reported Incidents</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-list>
    <ion-item *ngFor="let item of reportedItems">
      <div class="image-container">
        <img [src]="item.fileUrl" alt="Reported Item Image" />
      </div>
      <ion-label>{{ item.location }}</ion-label>
      <ion-note slot="end">{{ item.description }}</ion-note>

      
    </ion-item>
  </ion-list> -->
  

  <ion-card *ngFor="let item of reportedItems">  
    <ion-card-header>  
      <ion-card-subtitle>
        <img [src]="item.fileUrl" alt="Reported Item Image"  style="height: 100px; width: 90%;" />
      </ion-card-subtitle>  
      <ion-card-title>Location: {{ item.location }}<br/>Discription: {{ item.description }}</ion-card-title> 
      </ion-card-header>  
    <ion-card-content>
      <ion-button>Approve</ion-button>
      <ion-button color="danger">Reject</ion-button>
    </ion-card-content>
  </ion-card> 
</ion-content>
